<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="ContactList">
    <section class="conList">
        <article>
            <h1>Contact List</h1>
            {{#each payload}}
            <div class="C2">
                <ul class="c3">
                    <li>First Name: {{this.fname}}</li>
                    <li>Last Name: {{this.lname}}</li>
                    <li>Phone no: {{this.phno}}</li>
                    <li>Saved Loaction: {{this.loc}}</li>
                </ul>
                
                <div class="btn-group">
                    <span class="info"><a href="/api/{{this._id}}">Info</a></span> 
                    <span class="edit"><a href="/api/edit/{{this._id}}">Edit</a></span> 
                    <span class="delete"><a href="/api/delete/{{this._id}}">Delete</a></span>
                </div>
                
                
            </div>
            {{else}}
            <h1>No contact found |  Please create a new contact</h1>
            {{/each}}
        </article>
    </section>
    </div>
</body>
</html>